@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: gray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 5vw;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', 'cursive';
}

header p{
    padding-bottom: 50px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
}

section{
    line-height: 2em;
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: 'Passion One', 'cursive';
    font-size: 5vw;
    
}

.cordel{
    background-color: white;
}

.cordel-fundo{
    box-shadow: inset 0px 3px 12px 0px rgba(0, 0, 0, 0.543);  
}

.cordel-fundo > p{
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
}
#bk1{
    background: url(imagens/bk2.jpg) center top no-repeat  fixed;
    background-size: cover;
}

#bk2{
    background: url(imagens/bk1.jpg) right bottom no-repeat fixed;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.2em
}