@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte-padrao: var( 'Passion One', cursive)
}

*{
    font-family: 'Passion One', 'cursive';
    font-weight: normal;
}

body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    height: 235px;
    position: relative;
}

header h1{
    margin: 0px auto;
    font-size: 600%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 650px;
}

header p{
    margin: 0px auto;
    padding: 15px;
    font-size: 1.2em;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    width: 600px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
}

section{
    background-color: white;
    line-height: 50px;
    font-size: 2em;
    font-weight: normal;
}

section p{
    width: 280px;
    margin-left: 30px;
    padding: 3px;
    
}

section#fundo1{
    background-image: url(imagens/bk1.jpg);
    background-size: cover;
    color: white;
}

section#fundo1 p{
    background-color: rgba(0, 0, 0, 0.716);
    margin: 0px 0px;
}

section#fundo2{
    background-image: url(imagens/bk2.jpg);
    color: white;
}